<!DOCTYPE html>
<html>
  <head>
    <title>Query Tracker</title>
    <!-- Include htmx nad tailwind from CDN -->
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-gray-500  flex flex-col">
    <h1 class="">Welcome to Query Tracker</h1>

    <!-- submit query using htmx -->
    <div
      class="flex flex-row m-2 p-2"
    >
      <label for="query_text" class="pr-5 bg-indigo-400 p-3 rounded-lg">Ask model:</label>
      <input
        type="text"
        name="query_text"
        id="query_text"
        hx-post="/query"
        hx-trigger="keyup[enter], click from:#query_submit_btn"
        hx-include="#query_text"
        hx-target="#query_log"
        hx-swap="afterbegin"
        placeholder="Enter your query"
        minlength="5"
        maxlength="128"
        required
        class="w-full bg-indigo-400 p-3 rounded-lg"
      />
      <button id="query_submit_btn" type="submit" class="w-10% bg-indigo-500 p-3 rounded-lg">
        Send
      </button>
    </div>

    <script>
      function resetInput() {
        document.querySelector("#query_text").value = "";
      }
      // reset after submission
      document.addEventListener('htmx:afterRequest', resetInput);
      // reset on page load
      resetInput();
    </script>

    <label for="query_log" class="m-3 p-3 bg-blue-400 rounded-lg">Previous queries:</label>
    <div id="query_log" class="flex flex-col flex-grow m-2 p-2">
      {% for entry in logs %} {% include 'log_entry.html' %} {% endfor %}
    </div>
  </body>
</html>
